/* Estilo general del banner */
.bannernoti {
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    position: relative;
    overflow: hidden;
    border: 3px solid #ffffff;
    border-radius: 10px;
    
}

/* Contenedor de los elementos */
.banner-content {
    display: flex;
   
}

/* Elemento individual */
.banner-item {
    min-width: 30%;
    display: flex;  
 box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    align-items: center;
    padding: 40px 20px;
    box-sizing: border-box;
    flex-wrap: wrap;
    background: linear-gradient(180deg, #808080, #3a3a3a);
    color: white;
   margin: 0px 10px;
    
}

/* Lado derecho */
.banner-item-derecha {
 
    padding: 20px;
}

.banner-item-derecha h2 {
    font-size: 1rem;
    margin-bottom: 10px;
      font-family: "Montserrat", sans-serif;
}

.banner-item-derecha h6 {
    font-size: 1rem;
    margin-bottom: 15px;
      font-family: "Montserrat", sans-serif;
      font-weight: lighter;
      align-items: center;
      justify-content: center;
    
}

.banner-item-derecha .banner-boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #69686000;
    color: white;
    border-bottom: solid #e20000 2.5px;
    text-decoration: none;
    border-radius: 4px;
    font-weight: normal;
    position: relative;
    margin: auto;
   
}

.banner-item-derecha .banner-boton:hover {
    background-color: #3d3c3c;
}

/* Lado izquierdo */
.banner-item-izquierda {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 255, 255, 0);
    position: relative;
    width: 100%;
    height: 200px;
}

.banner-noti-img {
    width: 80%;
    height: 100%;
    background-size: cover;
    background-position: center;
   background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	
}

